@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Ubuntu";


}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 1.6;

}




.maincontent {

    width: 90%;
}

h2 {
    font-size: 2.5vw;
}

p {
    font-size: 1.5vw;
}



/* nav bar */

header {
    background-color: #2D441F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: static;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-link {

    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: block;
    font-size: 16px;
    margin: 0 50px;

}

.nav-link:hover {
    background-color: #ffffff3d;
    border-radius: 5px;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 75px;
    height: 75px;
    margin-right: 100px;
    margin-left: 35px;
}

nav {
    display: flex;
    align-items: center;
}

/* forside billede */

.image-container {
    position: static;
    width: 100%;
    height: 600px;
    margin-bottom: 10%;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.billed-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6vw;
    font-weight: 700;
    font-style: normal;

}

#forsidebilled {

    display: block;
}

#forsidebilled-mobil {

    display: none;
}



/* lær området at kende */

.h1tekst {
    font-size: 4vw;


}

.tekstforside {
    padding: 15%;
    font-weight: 400;
}

#forsidebilled2 {

    flex-basis: 50%;
    margin-top: 10%;

}


#forsidebilled2 img {

    width: 100%;
}

/* kortartikler forreste side */


#kortkontrol {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

#kortkontrol a {
    text-decoration: none;
    color: inherit;
}


.kort {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    max-width: 385px;
}

.kort:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.kort img {
    border-radius: 5px;
    height: 350px;
    width: 350px;
    justify-content: center;
}

.kort-titel {
    margin-bottom: 10px;
    margin-top: 5px;
}

.kort p {
    font-size: 14px;
}

/* artikelsider*/

/* øverste 2 bokse med tekst */
.kontrolartikelsider {
    display: flex;
    width: 100%;
    height: 600px
}

.baggrundsbilled {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('media/giberforside1.jpg');
    background-size: cover;
    color: #fff;
    padding: 20px;

}

#baggrundsbilledmos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('media/mosforside1.jpg');
}

#baggrundsbilleddyrehaven {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('media/dyrehavenforside1.jpg');
}



.baggrundsbilled h2 {
    font-size: 2vw;
    margin-top: 200px;
    margin-bottom: 25px;
    margin-left: 6%;
    z-index: 2;
}

.baggrundsbilled p {
    font-size: 1vw;
    margin-left: 6%;
    margin-right: 15%;
    line-height: 1.6;


}

.div1 {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}



.tekstgiber {
    text-align: left;
    margin-left: 15%;
    margin-right: 25%;
}

.div2 img {

    margin-top: 50px;
    width: 60%;
    height: auto;
    border-radius: 5px;
    margin-left: 15%;


}

.div2 h4 {
    margin-top: 10px;
    font: 1vw;
}

.div2 p {
    margin-top: 5px;
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 1.6;
}

#dyrehaven {

    font-size: 0.7vw;
}




/* 4 gange billeder */

.billederx4 {

    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 100px;

}

.billeder {
    width: 25%;
    max-width: 260px;
    height: 200px;
    margin-bottom: 20px;
}



.billeder img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.billeder4 {
    width: 25%;
    max-width: 260px;
    height: 200px;
    margin-bottom: 20px;
}



.billeder4 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* billedmobil */

.billedmobil {
    display: none
}

/* indholdsteksten til alle artikler */

.indholdstekst {
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;


}

.linje {
    border-bottom: black solid 3px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;



}

/* video */

.video-kontrol {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 56.25%;
    margin-top: 175px;
}

.video-kontrol iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}








/* footer */

footer {
    margin-top: 100px;
    background-color: #BBBBBB;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 5%;

}



footer {
    text-align: left;
}

.footer {
    flex-basis: 33.33%;
}

.footer3 {
    display: block;

}





/* mobile first */


@media (max-width: 900px) {

    h2 {
        font-size: 3vw;
    }

    p {
        font-size: 2vw;
    }

    /* nav bar */

    nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
        padding-left: 30px;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 4px 0;
        border-radius: 5px;
    }

    header {
        position: fixed;
    }

    /* forside billede */

    #forsidebilled {

        display: none;
    }

    #forsidebilled-mobil {

        display: block;
    }


    /* artikelsider */


    /* billeder i toppen */
    .baggrundsbilled h2 {
        font-size: 4vw;
        margin-top: 200px;
        margin-bottom: 25px;
        margin-left: 10%;
    }

    .baggrundsbilled p {
        font-size: 2vw;
        margin-left: 10%;
        margin-right: 10%;
    }

    .div1 {
        display: none;
    }

    /* billedmobil */

    .billedmobil {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        margin-top: 150px;
    }

    .billedmobil img {
        max-width: 80%;
        max-height: 80%;
        border-radius: 5px;
        margin-left: 15%;
        margin-right: 15%;

    }








    /* footer */






    .footer {
        flex-basis: 100%;
        margin-bottom: 20px;
        margin-left: 12%;

    }



    .footer3 {
        display: none;

    }


    .billederx4 {
        display: none;
    }





}















@media (max-width: 1225px) {

    /* navbar */
    .nav-link {
        font-size: 14px;
        margin: 0 25px;
    }

    .kort {
        width: 100%;
    }

    .kort img {
        height: auto;
        width: 100%;
    }

    /* artikler på forsiden */

    #kortkontrol {
        flex-direction: column;
        align-items: center;
    }

    .kort {
        max-width: none;
        width: 100%;
    }

    /* billederx4 */

    /* fjerner et billed */

    .billeder4 {
        display: none;
    }

    .billeder img {
        width: 100%;
        height: 85%;
        border-radius: 5px;

    }

    .billeder4 img {
        width: 100%;
        height: 85%;
        border-radius: 5px;

    }

    /* tekst forside artikler */




    .div2 p {

        font-size: 1vw;
    }

    #dyrehaven {

        font-size: 1vw;
    }


}